<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <div class="card" style="padding-top: 1px;">
                <div class="header" style="padding-top: 1px;">
                    <h4>Steps</h4>
                    <div>
                        <div *ngFor="let step of _steps; let i = index"  style="padding: 3px 0;"><span>{{i+1}}, </span><span>{{step.name}}</span></div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="service2">

                            </div>
                        </div>
                        <div class="col-xs-7"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card" style="padding-top: 1px;">
                <div class="header" style="padding-top: 1px;">
                    <h4>Requirments</h4>
                    <div>
                        <div style="padding: 3px 0;" *ngFor="let requirment of _requirmnets; let i =index"><span>{{i+1}}, </span><span>{{requirment.name}}</span></div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="service2">

                            </div>
                        </div>
                        <div class="col-xs-7"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>