 <div class="form-group">
    <h4 >በአገልግሎታችን እረክተዋል?</h4>
    <div >
         <textarea  #comment rows="9" style = "width:99%; border: none; resize:none; padding: 2%;"></textarea>
    </div>
    <div style="padding: 1%; width: 100%;">
        <button class="btn" (click)="setText('አዎ' , comment)" style="width: 13%;" >አዎ</button>
        <button class="btn" (click)="setText('አልረካሁም' , comment)" style="width: 13%; margin-left: 3%; " >አልረካሁም</button>
        <button class="btn" (click)="setText('ምንም አይልም' , comment)" style="width: 13%; margin-left: 3%; " >ምንም አይልም</button>
        <button class="btn" (click)="postFeedback(comment)" style="width: 13%; position: absolute; right: 3%; " >ጨርስ</button>
    </div>
    <div style="padding-left: 1%"><h4>{{thanks}}</h4></div>
</div>
