<div  class="container-fluid">
    <div class="row" *ngFor="let service of _services">
        <div class="col-md-2"></div>
        <a routerLink="/service" [queryParams]="{id:service.id}">
            <div class="col-md-11">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div style="margin-left: 2%">
                                <div class="service1">
                                    <h3>{{service.name}}</h3>
                                </div>
                            </div>
                            <div class="col-xs-7"></div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                {{service.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        
    </div>
</div>
