<div class="sidebar-wrapper">
    <div class="logo">
        <a href="#" class="simple-text">
            <div>
                <img width="210" height="50" src="../../assets/img/logo.png" alt="">
            </div>
        </a>
    </div>
    <ul class="nav">
        <!-- <li *ngIf="isNotMobileMenu()">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ti-panel"></i>
                <p>heloo</p>
            </a>
        </li> -->
        <!-- <li class="dropdown" *ngIf="isNotMobileMenu()">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ti-bell"></i>
                <p class="notification">5</p>
                <p>Notifications</p>
                <b class="caret"></b>
            </a> -->
            <!-- <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
            </ul> -->
        <!-- </li> -->
        <li *ngIf="isNotMobileMenu()">
            <a href="#">
                <i class="ti-settings"></i>
                <p>Settings</p>
            </a>
        </li>
        <li class="divider" *ngIf="isNotMobileMenu()"></li>
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
    <div style="position: relative; top:25px;">
       <a [routerLink]="'feedback'" style="align-items: center; margin-left: 10%; width: 70%;"  class="btn">Feedback</a>
    </div>
</div>